example/Node_Red_flow.json
[{"id":"748cf809.83aac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8611c3a0.a6814","type":"mqtt in","z":"748cf809.83aac8","name":"","topic":"vitalora/devices/vitalora_2/up","qos":"2","datatype":"auto","broker":"be8a9aec.3a9d48","x":160,"y":40,"wires":[["f11c895a.d01d28"]]},{"id":"65c9d92f.436df8","type":"ui_chart","z":"748cf809.83aac8","name":"","group":"dc169156.6fcaa","order":1,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":145,"wires":[[]]},{"id":"81cf9cc4.ae1fd","type":"ui_chart","z":"748cf809.83aac8","name":"","group":"ed7f61c0.5d054","order":1,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"42","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":405,"wires":[[]]},{"id":"da325a7c.8ea908","type":"ui_chart","z":"748cf809.83aac8","name":"","group":"7a5de841.154f28","order":1,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":265,"wires":[[]]},{"id":"46d2e63b.1747a8","type":"ui_gauge","z":"748cf809.83aac8","name":"","group":"7a5de841.154f28","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Value","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#b30300","#e6e600","#7bcb3a"],"seg1":"80","seg2":"97","x":1280,"y":305,"wires":[]},{"id":"6c26c7e2.2044b8","type":"ui_gauge","z":"748cf809.83aac8","name":"","group":"ed7f61c0.5d054","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Value","label":"째C","format":"{{msg.payload}}","min":"0","max":"42","colors":["#00b500","#e6e600","#ca3838"],"seg1":"37.5","seg2":"38.5","x":1280,"y":445,"wires":[]},{"id":"17b43a7b.686946","type":"ui_text","z":"748cf809.83aac8","group":"ad387074.882c4","order":2,"width":8,"height":5,"name":"","label":"Detection","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":625,"wires":[]},{"id":"aa4fcdf2.77102","type":"ui_gauge","z":"748cf809.83aac8","name":"","group":"dc169156.6fcaa","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Value","label":"bbm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"100","x":1280,"y":185,"wires":[]},{"id":"f11c895a.d01d28","type":"json","z":"748cf809.83aac8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":40,"wires":[["6226c473.8933cc","ff0ec6d8.6a7618","41e8fbba.3f8674","b6c20810.921218","12eb7d38.8e0b93"]]},{"id":"6226c473.8933cc","type":"function","z":"748cf809.83aac8","name":"Heartbeat","func":"msg.payload=msg.payload.payload_fields.Heartbeat;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":145,"wires":[["65c9d92f.436df8","5dc87b66.364834","aa4fcdf2.77102"]]},{"id":"ff0ec6d8.6a7618","type":"function","z":"748cf809.83aac8","name":"SpO2","func":"msg.payload=msg.payload.payload_fields.Spo2;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":265,"wires":[["da325a7c.8ea908","b36463fe.cf3e6","46d2e63b.1747a8"]]},{"id":"41e8fbba.3f8674","type":"function","z":"748cf809.83aac8","name":"Body Temperature","func":"msg.payload=msg.payload.payload_fields.BodyTemp;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":405,"wires":[["81cf9cc4.ae1fd","8eb766fe.c3a8c8","6c26c7e2.2044b8"]]},{"id":"b6c20810.921218","type":"function","z":"748cf809.83aac8","name":"Acetone","func":"var limit = 0.65\nvar msg1;\nvar msg2;\nmsg1 =msg.payload.payload_fields.Automatic;\nmsg2 =msg.payload.payload_fields.BreathGas;\nif (msg1 === 0)\n{\nif(msg2  <= limit)\nmsg.payload = 1;\nif (msg2  > limit)\nmsg.payload = 0;\nreturn msg;\n}\nelse\nreturn null;","outputs":1,"noerr":0,"x":140,"y":545,"wires":[["b0874ebc.51804","c6dc74a3.605028","491bbb9.67c8044"]]},{"id":"1e1f9e4a.7d1822","type":"ui_text","z":"748cf809.83aac8","group":"dc169156.6fcaa","order":3,"width":0,"height":0,"name":"","label":"Heartbeat Max","format":"{{msg.payload.max + 'bpm'}}","layout":"col-center","x":1000,"y":145,"wires":[]},{"id":"d9609897.055db8","type":"ui_text","z":"748cf809.83aac8","group":"dc169156.6fcaa","order":4,"width":0,"height":0,"name":"","label":"Heartbeat Min","format":"{{msg.payload.min + 'bpm'}}","layout":"col-center","x":1000,"y":185,"wires":[]},{"id":"56dfe723.ea24f8","type":"ui_text","z":"748cf809.83aac8","group":"dc169156.6fcaa","order":5,"width":0,"height":0,"name":"","label":"Heartbeat Average","format":"{{msg.payload.Heartbeataverage + 'bpm'}}","layout":"col-center","x":1010,"y":105,"wires":[]},{"id":"9a83c62a.df78d8","type":"ui_text","z":"748cf809.83aac8","group":"7a5de841.154f28","order":3,"width":0,"height":0,"name":"","label":" SpO2 Max","format":"{{msg.payload.max +'%'}}","layout":"col-center","x":990,"y":285,"wires":[]},{"id":"946c38b.2bc24c8","type":"ui_text","z":"748cf809.83aac8","group":"7a5de841.154f28","order":4,"width":0,"height":0,"name":"","label":" SpO2 Min","format":"{{msg.payload.min +'%'}}","layout":"col-center","x":980,"y":325,"wires":[]},{"id":"f376bec1.746e4","type":"ui_text","z":"748cf809.83aac8","group":"7a5de841.154f28","order":5,"width":0,"height":0,"name":"","label":"SpO2 Average","format":"{{msg.payload.Spo2average +'%'}}","layout":"col-center","x":1000,"y":245,"wires":[]},{"id":"d5267a5e.57cde8","type":"ui_text","z":"748cf809.83aac8","group":"ed7f61c0.5d054","order":3,"width":0,"height":0,"name":"","label":"Body Temperature Max","format":"{{msg.payload.max +'째C'}}","layout":"col-center","x":1030,"y":425,"wires":[]},{"id":"5790f0e4.28bdd","type":"ui_text","z":"748cf809.83aac8","group":"ed7f61c0.5d054","order":4,"width":0,"height":0,"name":"","label":"Body Temperature Min","format":"{{msg.payload.min +'째C'}}","layout":"col-center","x":1020,"y":465,"wires":[]},{"id":"b892f474.8fec08","type":"ui_text","z":"748cf809.83aac8","group":"ed7f61c0.5d054","order":5,"width":0,"height":0,"name":"","label":"Body Temperature Average","format":"{{msg.payload.BodyTempaverage +'째C'}}","layout":"col-center","x":1040,"y":385,"wires":[]},{"id":"5dc87b66.364834","type":"function","z":"748cf809.83aac8","name":"Heartbeat (average,min,max)","func":"var data2=context.get('data2') || {};\nvar period=86400000; //86400000ms = 1 day\nvar d=new Date();\nnow=d.getTime();\nvar Limit1 = 50;\nvar Limit2 = 80;\n\nif (data2[\"count\"]===undefined)\n    data2[\"count\"]=0;\nif (data2[\"max\"]===undefined)\n     data2[\"max\"]=msg.payload;\nif (data2[\"min\"]===undefined)\n     data2[\"min\"]=msg.payload;\nif (data2[\"averageraw\"]===undefined)\n     data2[\"averageraw\"]=0 ;\nif (data2[\"stime\"]===undefined)  //start time\n     data2[\"stime\"]=now;\nif (data2[\"readings\"]===undefined)  \n     data2[\"readings\"]=msg.payload;\nif (data2[\"Heartbeataverage\"]===undefined)  \n     data2[\"Heartbeataverage\"]=0;\nif (data2[\"criticHeartbeat\"]===undefined)  \n     data2[\"criticHeartbeat\"]=false;\n \nvar count=data2.count;\ndata2.count+=1;\n\nif(count !==0)\n    {data2.readings=((data2.readings)+msg.payload);\n    data2.averageraw= (data2.readings)/(count+1);\n    data2.Heartbeataverage = Math.round(data2.averageraw*100)/100;\n    }\nelse \n    data2.Heartbeataverage=msg.payload;\n    \nif ( data2.Heartbeataverage < Limit1 ||  data2.Heartbeataverage > Limit2)\n{  \n    data2.criticHeartbeat = true;\n}\nelse\n  data2.criticHeartbeat = false;\n\n\nif(msg.payload>data2.max)\n    data2.max=msg.payload;\nif(msg.payload<data2.min)\n    data2.min=msg.payload;\nif ((data2[\"stime\"]+period)<now)  // if times up\n{\n        data2 = {};\n    context.set('data2',data2);\n   \n   return null;\n    \n    \n}                            \ncontext.set('data2',data2);  // if times not up\nvar out =JSON.stringify(data2);\nmsg.payload = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":145,"wires":[["11ed6fea.5d371"]]},{"id":"11ed6fea.5d371","type":"json","z":"748cf809.83aac8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":145,"wires":[["56dfe723.ea24f8","d9609897.055db8","1e1f9e4a.7d1822","5061a42d.e3079c"]]},{"id":"b36463fe.cf3e6","type":"function","z":"748cf809.83aac8","name":"SpO2(average,min,max)","func":"var data2=context.get('data2') || {};\nvar period=86400000; //86400000ms = 1 day\nvar d=new Date();\nnow=d.getTime();\nvar Limit = 60;\n\n\nif (data2[\"count\"]===undefined)\n    data2[\"count\"]=0;\nif (data2[\"max\"]===undefined)\n     data2[\"max\"]=msg.payload;\nif (data2[\"min\"]===undefined)\n     data2[\"min\"]=msg.payload;\nif (data2[\"averageraw\"]===undefined)\n     data2[\"averageraw\"]=0 ;\nif (data2[\"stime\"]===undefined)  //start time\n     data2[\"stime\"]=now;\nif (data2[\"readings\"]===undefined)  \n     data2[\"readings\"]=msg.payload;\nif (data2[\"Spo2average\"]===undefined)  \n     data2[\"Spo2average\"]=0;\nif (data2[\"criticSpo2\"]===undefined)  \n     data2[\"criticSpo2\"]=false;\n\n\n     \nvar count=data2.count;\ndata2.count+=1;\n\nif(count !==0)\n    {data2.readings=((data2.readings)+msg.payload);\n    data2.averageraw= (data2.readings)/(count+1);\n    data2.Spo2average = Math.round(data2.averageraw*100)/100;\n    }\nelse \n    data2.Spo2average=msg.payload;\n    \nif (data2.Spo2average < Limit)\n{  \n    data2.criticSpo2 = true;\n}\n\nelse\n data2.criticSpo2 = false;\n\nif(msg.payload>data2.max)\n    data2.max=msg.payload;\nif(msg.payload<data2.min)\n    data2.min=msg.payload;\n    \nif ((data2[\"stime\"]+period)<now)  // if times up\n{\n    \n    \n    data2 = {};\n    context.set('data2',data2);\n   \n   return null;\n    \n    \n}\n // if times not up\ncontext.set('data2',data2);\nvar out =JSON.stringify(data2);\nmsg.payload =out;\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":265,"wires":[["42fa4dc1.a32724"]]},{"id":"42fa4dc1.a32724","type":"json","z":"748cf809.83aac8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":266,"wires":[["9a83c62a.df78d8","946c38b.2bc24c8","f376bec1.746e4","5061a42d.e3079c"]]},{"id":"8eb766fe.c3a8c8","type":"function","z":"748cf809.83aac8","name":"Body Temperature(average,min,max)","func":"var data2=context.get('data2') || {};\nvar period=86400000; //86400000ms = 1 day\nvar d=new Date();\nnow=d.getTime();\nvar Limit = 37;\n\nif (data2[\"count\"]===undefined)\n    data2[\"count\"]=0;\nif (data2[\"max\"]===undefined)\n     data2[\"max\"]=msg.payload;\nif (data2[\"min\"]===undefined)\n     data2[\"min\"]=msg.payload;\nif (data2[\"averageraw\"]===undefined)\n     data2[\"averageraw\"]=0 ;\nif (data2[\"stime\"]===undefined)  //start time\n     data2[\"stime\"]=now;\nif (data2[\"readings\"]===undefined) \n     data2[\"readings\"]=msg.payload;\nif (data2[\"BodyTempaverage\"]===undefined)  \n     data2[\"BodyTempaverage\"]=0;\nif (data2[\"criticBodyTemp\"]===undefined)  \n     data2[\"criticBodyTemp\"]=false;\n \nvar count=data2.count;\ndata2.count+=1;\n\nif(count !==0)\n    {data2.readings=((data2.readings)+msg.payload);\n    data2.averageraw= (data2.readings)/(count+1);\n    data2.BodyTempaverage = Math.round(data2.averageraw*100)/100;\n    }\nelse \n    data2.BodyTempaverage=msg.payload;\n    \nif (data2.BodyTempaverage > Limit)\n{  \n    data2.criticBodyTemp = true;\n}\n\nelse\n  data2.criticBodyTemp = false;\n\n\nif(msg.payload>data2.max)\n    data2.max=msg.payload;\nif(msg.payload<data2.min)\n    data2.min=msg.payload;\nif ((data2[\"stime\"]+period)<now)  // if times up\n{\n    \n    data2 = {};\n    context.set('data2',data2);\n   \n   return null;\n    \n    \n}\n// if times not up\ncontext.set('data2',data2);\nvar out =JSON.stringify(data2);\nmsg.payload =out;\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":405,"wires":[["19f8cfac.510c5"]]},{"id":"19f8cfac.510c5","type":"json","z":"748cf809.83aac8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":405,"wires":[["d5267a5e.57cde8","5790f0e4.28bdd","b892f474.8fec08","5061a42d.e3079c"]]},{"id":"c6dc74a3.605028","type":"function","z":"748cf809.83aac8","name":"Acetone (average,min,max)","func":"\nvar data2=context.get('data2') || {};\nvar period=86400000; //86400000ms = 1 day\nvar d=new Date();\nnow=d.getTime();\n\nif (data2[\"count\"]===undefined)\n{\n    data2[\"count\"]=0;\n}\nif (data2[\"count1\"]===undefined)\n{\n    data2[\"count1\"]=0;\n}\nif (data2[\"count2\"]===undefined)\n{\n    data2[\"count2\"]=0;\n}\n\nif (data2[\"Detected\"]===undefined)\n     data2[\"Detected\"]=msg.payload;\n if (data2[\"not Detected\"]===undefined)\n     data2[\"not Detected\"]=msg.payload;\n    if (data2[\"average\"]===undefined)\n     data2[\"average\"]=0 ;\n if (data2[\"stime\"]===undefined)  //start time\n     data2[\"stime\"]=now;\n \nvar count=data2.count;\nvar count1=data2.count1;\nvar count2=data2.count2;\ndata2.count2+=1;\n\n\nif(msg.payload=== 1)\n    data2.count+=1;\nif(msg.payload===0)\n    {data2.count1+=1;}\n    \n\n    \nif (count2 !== 0)\n{\n    data2.averageAD=data2.count/data2.count2;\n    data2.averageAND=data2.count1/data2.count2;\n    if(data2.averageAD > data2.averageAND)\n    data2.average='Aceton detected';\n    \nif(data2.averageAND>data2.averageAD)\n    data2.average='Aceton not detected'; \nif(data2.averageAND===data2.averageAD)\n    {data2.average='Balanced';\n    } }\nelse \ndata2.average=msg.payload;\n    \nif ((data2[\"stime\"]+period)<now)  // if times up\n{\n    \n    \n    \n    data2 = {};\n    context.set('data2',data2);\n   \n   return null;\n    \n    \n}\n\ncontext.set('data2',data2);\nvar out =JSON.stringify(data2);\nmsg.payload =out;\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":545,"wires":[["d0bad7a1.35c5a8"]]},{"id":"d150a41d.1790b8","type":"ui_text","z":"748cf809.83aac8","group":"ad387074.882c4","order":3,"width":0,"height":0,"name":"","label":"Acetone Detected","format":"{{msg.payload.count}}","layout":"col-center","x":1010,"y":571,"wires":[]},{"id":"3e057a53.d53cb6","type":"ui_text","z":"748cf809.83aac8","group":"ad387074.882c4","order":4,"width":0,"height":0,"name":"","label":"Acetone not Detected","format":"{{msg.payload.count1}}","layout":"col-center","x":1020,"y":611,"wires":[]},{"id":"3e3ceda3.944ba2","type":"ui_text","z":"748cf809.83aac8","group":"ad387074.882c4","order":5,"width":0,"height":0,"name":"","label":"Acetone Average","format":"{{msg.payload.average}}","layout":"col-center","x":1010,"y":531,"wires":[]},{"id":"d0bad7a1.35c5a8","type":"json","z":"748cf809.83aac8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":569,"wires":[["d150a41d.1790b8","3e057a53.d53cb6","3e3ceda3.944ba2"]]},{"id":"b0874ebc.51804","type":"ui_chart","z":"748cf809.83aac8","name":"","group":"ad387074.882c4","order":1,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":585,"wires":[[]]},{"id":"491bbb9.67c8044","type":"function","z":"748cf809.83aac8","name":"Acetone Decoder","func":"if(msg.payload===1)\nmsg.payload='Acetone Detected'\nelse \nif (msg.payload===0)\nmsg.payload='Acetone not Detected'\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":585,"wires":[["17b43a7b.686946"]]},{"id":"5061a42d.e3079c","type":"function","z":"748cf809.83aac8","name":"Covid-19","func":"var msg1;\nvar msg2;\nvar msg3;\n\nmsg1=msg.payload.criticHeartbeat;\nmsg2=msg.payload.criticSpo2;\nmsg3=msg.payload.criticBodyTemp;\nif (msg1 === false) /// && operator funktioniert nicht\n{\n   if (msg2 === false) \n   {\n       if( msg3 === false)\n       {\n           msg.payload = \"Possible COVID-19 Infection\";\n             return msg;\n       }\n   }\n \n}\nelse\n    return null;","outputs":1,"noerr":0,"x":980,"y":40,"wires":[["3749203e.ad2d3"]]},{"id":"3749203e.ad2d3","type":"ui_toast","z":"748cf809.83aac8","position":"top right","displayTime":"86400000","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":40,"wires":[]},{"id":"12eb7d38.8e0b93","type":"file","z":"748cf809.83aac8","name":"","filename":"VitaloraData\\test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":590,"y":40,"wires":[[]]},{"id":"be8a9aec.3a9d48","type":"mqtt-broker","z":"","name":"Vitalora","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc169156.6fcaa","type":"ui_group","z":"","name":"Heartbeat","tab":"ab8a2d9e.013cc","order":1,"disp":true,"width":"8","collapse":false},{"id":"ed7f61c0.5d054","type":"ui_group","z":"","name":"Body Temperature","tab":"ab8a2d9e.013cc","order":3,"disp":true,"width":"8","collapse":false},{"id":"7a5de841.154f28","type":"ui_group","z":"","name":"Spo2","tab":"ab8a2d9e.013cc","order":2,"disp":true,"width":"8","collapse":false},{"id":"ad387074.882c4","type":"ui_group","z":"","name":"Acetone","tab":"ab8a2d9e.013cc","order":4,"disp":true,"width":"8","collapse":false},{"id":"ab8a2d9e.013cc","type":"ui_tab","z":"","name":"Diary","icon":"dashboard","order":3,"disabled":false,"hidden":false}]